<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
      href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<!-- フラグメント定義したヘッダーを呼び出す -->
<!--
<head th:replace="base :: common_header(~[::title], ~[::link])">

    <title>Awesome - Main</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">

</head>
-->

<!-- 空フラグメントを使った定義の呼び出し -->
<!--
<head th:replace="base :: common_header(~{::title},~{})">

    <title>Awesome - Main</title>

</head>
-->

<!-- 処理なしトークンの使用 -->
<!--
<head th:replace="base :: common_header(_,~{::link})">

    <title>Awesome - Main</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">

</head>
-->
<body>
    <!-- <p th:text="#{home.welcome}">Welcome to our grocery store!</p> -->

    <p th:utext="#{home.welcome(${session.user.name})}">Welcome to our grocery store!</p>

<!-- コントローラ側でフォーマットした日付を週力する場合 -->
    <!-- <p>Today is: <span th:text="${today}">13 February 2011</span></p> -->

    <!-- テンプレート側で日付をフォーマットする場合 -->
    <p>
        <!-- プロパティファイルでフォーマットを指定する場合 -->
        Today is: <span th:with="df=#{date.format}"
                        th:text="${#calendars.format(today, df)}">13 February 2011</span>
        <!-- テンプレート内に直接フォーマットを指定する場合 -->
        <!--
        Today is: <span th:text="${#calendars.format(today, 'dd MMMM yyyy')}">13 February 2011</span>
        -->
    </p>
    <!-- 各ページへのリンク -->
    <p>Please select an option</p>
　　 <ol>
　　 	<li><a href="product/list.html" th:href="@{/product/list}">Product List</a></li>
　　 	<li><a href="order/list.html" th:href="@{/order/list}">Order List</a></li>
　　 	<li><a href="subscribe.html" th:href="@{/subscribe}">Subscribe to our Newsletter</a></li>
　　     <li><a href="userprofile.html" th:href="@{/userprofile}">See User Profile</a></li>
　　 </ol>
    <!-- fragment 属性で定義されたフラグメントの追加 -->
    <div th:insert="~{footer :: copy}"></div>
    <!-- id 属性で定義されたフラグメントの追加 -->
    <!-- <div th:insert="~{footer :: #copy-section}"></div> -->

    <!-- パラメータのあるフラグメントの呼び出し -->
    <!-- <div th:replace="::frag (${value1},${value2})">...</div> -->
    <!--　パラメータのあるフラグメントを、変数名に紐付けて呼ぶ -->
    <!-- <div th:replace="::frag (onevar=${value1}, twovar=${value2})">...</div> -->
    <!-- 変数名に紐付ける場合は順不同にできる-->
    <!-- <div th:replace="::frag (twovar=${value2}, onevar=${value1})">...</div> -->
    <!-- th:replaceとth:withにフラグメント名とパラメータを分離できる -->
    <!-- <div th:replace="::frag" th:with="onevar=${value1}, twovar=${value2}">...</div> -->

    <!-- th:assertでパラメータの内容をチェックできる -->
    <!--<div th:assert="${onevar}, (${twovar} != 43)">...</div> -->
    <!-- th:assertとフラグメント呼び出しを組み合わせると、パラメータを精査できる -->
    <!-- <header th:fragment="contentheader(title)" th:assert="${#strings.isEmpty(title)}">...</header> -->
</body>
</html>