<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

    <!-- <p th:text="#{home.welcome}">Welcome to our grocery store!</p> -->
    <p th:utext="#{home.welcome(${session.user.name})}">Welcome to our grocery store!</p>

    <!-- コントローラ側でフォーマットした日付を週力する場合 -->
    <!-- <p>Today is: <span th:text="${today}">13 February 2011</span></p> -->

    <!-- テンプレート側で日付をフォーマットする場合 -->
    <p>Today is: <span th:text="${#calendars.format(today, 'dd MMMM yyyy')}">13 February 2011</span></p>

    <!-- 各ページへのリンク -->
    <p>Please select an option</p>
　　 <ol>
　　 	<li><a href="product/list.html" th:href="@{/product/list}">Product List</a></li>
　　 	<li><a href="order/list.html" th:href="@{/order/list}">Order List</a></li>
　　 	<li><a href="subscribe.html" th:href="@{/subscribe}">Subscribe to our Newsletter</a></li>
　　     <li><a href="userprofile.html" th:href="@{/userprofile}">See User Profile</a></li>
　　 </ol>

</body>
</html>